.home {
    text-align: center;
    padding: 20px;
    background-color: #eef2f3;
}

.home h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.home img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
