.my-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-signup div {
    color: black;
}

.login-signup label {
    font-size: 1em;
    margin-bottom: 5px;
    color: black;
}



.login-signup .message {
    color: #ffeb3b;
    cursor: pointer;
    margin-top: 0;
    text-align: center;
}

.login-signup .message:hover {
    text-decoration: underline;
}

.login-signup button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-signup button:hover {
    background-color: #0056b3;
}