.toy-details {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
    margin: 20px;
}

.toy-details h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.toy-details h2 {
    font-size: 1.5em;
    color: #666;
    margin-bottom: 20px;
}

.toy-details p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.toy-details .label {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #eee;
    font-size: 1em;
}

.toy-details button {
    margin: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toy-details button:hover {
    background-color: #0056b3;
}

.nav-toy-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.nav-toy-details button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    transition: color 0.3s;
}

.nav-toy-details button:hover {
    color: #007bff;
    background-color: inherit;
}

.no-toy {
    text-align: center;
    font-size: 1.5em;
    color: #666;
    padding: 20px;
}