.save-toy {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    max-width: 600px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.save-toy h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
}

.save-toy div {
    margin-bottom: 15px;
}

.save-toy label {
    display: block;
    font-size: 1.2em; 
    margin-bottom: 5px;
    font-weight: bold;
}

.save-toy input[type="text"],
.save-toy input[type="number"],
.save-toy input[type="color"],
.save-toy input[type="checkbox"],
.save-toy select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
.save-toy input[type="color"]{
    padding: 0;
}

.save-toy select {
    height: auto;
}

.save-toy button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.save-toy button:hover {
    background-color: #0056b3;
}

.save-toy .label-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.save-toy .label-container button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: inherit;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    transition: background-color 0.3s;
}

.save-toy .label-container button:hover {
    background-color: #0056b3;
}

#labels {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#labels div {
    display: flex;
    align-items: center;
    gap: 5px;
}

#labels label {
    font-size: 1em; /* Slightly larger font size */
    margin-bottom: 0; /* Remove bottom margin */
    font-weight: normal; /* Normal font weight */
}
