@mixin for-mobile-layout {
    @media (max-width: $break-narrow) {
        @content;
    }
}

@mixin for-tablet-layout {
    @media (min-width: $break-narrow) {
        @content;
    }
}

@mixin for-desktop-layout {
    @media (min-width: $break-wide) {
        @content;
    }
}


@mixin btn($type: regular, $clr: $clr-blue) {
    padding: em(8px) em(12px);
    background-color: $clr;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;

    @if $type ==regular {
        &:hover {
            background-color: darken($clr, 15%)
        }
    }


    @if $type ==preview {
        margin: em(5px);
        background-color: inherit;
        color: black;

        &:hover {
            background-color: darken($clr, 20%)
        }
    }
}