// COLOR PALETTE
$clr-yellow: #ffeb3b;
$clr-blue: #007bff;
$clr-white: #fff;
$clr-black: #000;
$clr-gray: #333;
$clr-red: #ff0000;
$clr-green: #4caf50;

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 600px;
$break-wide: 1300px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;