.app-header {
    box-shadow: 0 2px 4px $clr-black;

    header {
        display: flex;
        justify-content: space-between;
        padding: calc($layoutPadding/2) $layoutPadding;
        width: 100%;
        align-items: center;
        background-color: $clr-gray;

        h1 {
            color: $clr-yellow;
            margin-right: em(10px);
        }

        nav {
            margin-left: em(10px);
            display: flex;
            gap: 1.5em;

            a {
                text-decoration: none;
                font-size: 1.2em;
                transition: color 0.3s ease;
                color: $clr-white;
            }

            a:hover {
                color: $clr-yellow;
            }
        }

        .user-info {
            display: flex;
            align-items: center;
            gap: 0.5em;

            button {
                @include btn(regular, $clr-red)
            }
        }

        & {
            color: $clr-white;
            font-size: 1em;
        }
    }

    @include for-mobile-layout {}
}

.sidebar {
    a {
        text-decoration: none;
        font-size: 1.2em;
        transition: color 0.3s ease;
        color: $clr-black;
        width: 100%;
    }

    a:hover {
        color: $clr-yellow;
    }

}

.sidebar-btn {
    color: $clr-white;
    margin: 1em;
    padding: 0;
    font-size: 3em;
}

.sidebar-btn:hover {
    background-color: inherit;
    color: $clr-yellow;
}