.toy {
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 2px 5px $clr-black;
    text-align: center;
    transition: transform 0.3s;

    h3 {
        font-size: 1.3em;
        margin-bottom: em(10px);
    }

    h3.in-stock {
        color: green;
    }

    h4 {
        font-size: 1.3em;
        color: #666;
    }

    div {
        margin-top: em(10px);
    }

    button {
        @include btn(preview)
    }

}

.toy:hover {
    transform: scale(1.05);
}