.toy-index {
    padding: 1.5em;
    margin: 1.5em;


    .add-button {
        display: flex;
        justify-content: center;
        margin-top: 1.5em;

        button {
            text-align: center;
            @include btn(regular, $clr-green);
        }
    }
}