.filterBy {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    padding: 1.5em;
    margin: 1.5em auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px $clr-black;

    div {
        flex: 1;
        margin-bottom: 15px;
    }

    label {
        display: block;
        font-size: 1.2em;
        margin-bottom: em(5px);
        font-weight: bold;
    }

    div {
        height: 5em;
        margin: 0;
    }

    select {
        width: 40%;
        padding: em(10px);
        margin-top: em(5px);
        border: 1px solid $clr-gray;
        border-radius: em(5px);
        font-size: 1em;
    }

    .label-container {
        flex-basis: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            padding: 5px 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #0056b3;
        }
    }
}