.user-details {
    padding: 2em;
    text-align: center;

    h1 {
        font-size: 2em;
        margin-bottom: 1.5em;
    }

    div {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1.5em;
        
    }

    .user-review {
        width: 100%;
        max-width: 80em;
        padding: 1em;
        margin-bottom: 1em;
        border: 1px solid $clr-gray;
        border-radius: 8px;
        background-color: #f9f9f9;
        box-shadow: 0 2px 5px $clr-black;
        transition: transform 0.3s;

        h2 {
            font-size: 1.5em;
            margin-bottom: 0.5em;
        }

        p {
            font-size: 1.2em;
            margin-bottom: 1em;
            color: $clr-gray;
        }

        button {
            padding: 0.5em 1em;
            background-color: $clr-red;
            color: $clr-white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
            transition: background-color 0.3s;

            &:hover {
                background-color: $clr-red;
            }
        }

        &:hover {
            transform: scale(1.02);
        }
    }
}